body{
	font-family:Arial;
	font-size: 15px; 
	background-color: #	; 
}

img{
	width: 100%;
}

/*topo*/
#logo{
	width: 15%;
	float:left;
	margin-bottom: 2%;
}

#nome_site{
	margin-top: 2%;	
	width: 65%;
	float: left;
}

#perfil{
	margin-top: 2%;	
	width: 5%;
	float: left;
}

#login{
	float: left;
	margin-top: 1%;
	}

#senha{
	float: left;
	margin-top: 7%;
}

.escondido{
	display: none;
}
.aparecendo{

}
.enviar{
	margin-top: 10%;
}

.tamanhobarra1{
	
	float: left;
}

.tamanhobarra2{
	
	float: left;
	margin-top:3%;
}

.divider{
	clear: both;
}


/*menu*/
.menu{
	width: 100%;
	margin-bottom: 30px;	
}

.item.menu{
	width: 14%;
	float: left;
	font-size: 115%;
	border: 1px solid #aaa;
	text-align: center;
	padding: 1.2%;
}

.item.ativo{
	background-color: #eee;
}

a{
	color:#000;
}

.item.menu:hover{
	background-color: #ccc;
}

/*conteudo geral*/
.coluna10{
	width: 10%;
	float: left;
	color:#fff;
}

.coluna80{
	width: 80%;
	float: left;
	border: 1px solid #aaa;
	padding: 2%;
}


.foto{
	width: 25%;
	float: left;
}

.dados{
	float: left;
	margin-left: 5%;
	width: 70%;
	font-size: 150%;
}

.paginacao{
	font-size: 250%;
	font-weight: bold;
	text-align: center;
}

.lista{
	width: 32%;
	float: left;
	border: 1px solid #ddd;
	margin-right: 1%
}

.letraTurma{
	font-size: 35px;
    margin-left: 9%;
}

#separador{
	height: 4%;

}


.pequenas img{
	width: 15%;
    height: 20%;
	float: left;
	margin-left: 10px;
	cursor: pointer;
}

.modal{
	width: 100%;
	height: 100%;
	background:#000;
	opacity: 1;
	position: absolute;
	top: 0;
	left: 0;

}

.grande{
	width: 25%;
	margin-left: 10%;
	margin-top: 10%;

}

.escondido{
	display: none;
}

.fechar{
	color: #fff;
	cursor: pointer;
	float: right;
	width: 50px;
}