body{
	font-family: Verdana, Arial, sans-serif;
	font-size: 15px; 
	background-color: #fbfbfb; 
}

img{
	width: 100%;
}

/*topo*/
#logo{
	width: 5%;
	float:left;
	margin-bottom: 2%;
}

#nome_site{
	margin-top: 2%;	
	width: 70%;
	float: left;
}

.divider{
	clear: both;
}


/*menu*/
.menu{
	width: 100%;
	margin-bottom: 30px;
	padding: 1.2%;
}

.item.menu{
	width: 14%;
	float: left;
	font-size: 115%;
	border: 2px solid #aaa;
	text-align: center;
}

.item.ativo{
	background-color: #eee;
}

a{
	color:#000;
}
.itemPesq.menu{

	width: 14%;
	float: left;
	font-size: 115%;
	text-align: center;
	

}

#barraPesq{
	border-radius: 10px;
	width: 70%;
}

#botao{
	border-radius: 10px;
}

#formulario{
	margin-left: 90%;
	padding-top: 5%;
}


.item.menu:hover{
	background-color: #ccc;
}

/*conteudo geral*/
.coluna10{
	width: 8%;
	float: left;
	color: white;
}

.coluna10item{
	width: 20%;
	float: left;
	color: black;
	margin-left: 10%;
	border: 1px solid #aaa;
}

.coluna80{
	width: 80%;
	float: left;
	border: 1px solid #aaa;
	padding: 2%;
}


.foto{
	width: 25%;
	float: left;
}

.dados{
	float: left;
	margin-left: 5%;
	width: 70%;
	font-size: 150%;
}

.paginacao{
	font-size: 250%;
	font-weight: bold;
	text-align: center;
}

.lista{
	width: 32%;
	float: left;
	border: 1px solid #ddd;
	margin-right: 1%
}

.letraTurma{
	font-size: 35px;
    margin-left: 9%;
}

#tamanhobarra1{
	border-radius: 30px;
	float: left; 
}

#tamanhobarra2{
	border-radius: 30px;
	float: left;
	margin-top: 4%;
 
}
#login{
	float: left;
	width: 20%;
}
#senha{
	margin-top: 5%;
	float: left;
	width: 20%;
}

#enviar{
	margin-top: 10%;
	border-radius: 30px;
	background-color: white;
	float: right;
	margin-right: 50%;

}

.login{
	width: 80%;
	float: left;
}

.senha{
	width: 80%;
	float: left;
}

.titulo{
  text-align: center;
}

li{
	font-size: 125%;
}